<div class="container-fluid join_network_container">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <div class="text-center">
        <h4><strong>Please select a network to join</strong></h4>
        <% @all_networks.each do |network| %>
        <div class="text-center list_of_networks">
          <p><%= link_to network.network_name, join_path(network.id)%></p>
        </div>
        <%end%>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
  </div>

</div>
