<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/show.css" >
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <button type="button" class="btn btn-default" aria-label="center Align">PENCIL
          </button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default" aria-label="center Align">CALENDAR
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-default" aria-label="center Align">PLUS
          </button>
          <button type="button" class="btn btn-default" aria-label="center Align">SETTINGS
          </button>
        </div>
        <div class="col-sm-2">
          <div align="right pull-">
            <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="text-center">
          <%= Time.now.strftime("%A %d %B %Y") %>
        </div>
      </div>

      <div class="row">
      </div>
    </div>
  </body>
</html>

<!-- <span class="glyphicon glyphicons-31-pencil" aria-hidden="true"></span> -->

<!-- <span class="glyphicon glyphicons-46-calendar" aria-hidden="true"></span> -->

<!-- <span class="glyphicon glyphicons-433-plus" aria-hidden="true"></span> -->

<!-- <span class="glyphicon glyphicons-137-cogwheel" aria-hidden="true"></span> -->
